# Template Apache VirtualHost — Cluster 2
# À compléter par TSHILUMBA TSHILUMBA JONATHAN

<VirtualHost *:80>
    ServerName {{ ansible_hostname }}
    DocumentRoot {{ app_deploy_path }}

    <Directory {{ app_deploy_path }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ app_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ app_name }}_access.log combined
</VirtualHost>
