# Template configuration monitoring
# À compléter par KABENGELE KABENGELE DIEUVIE

# Seuils d'alerte
cpu_threshold: {{ alert_cpu_threshold }}
memory_threshold: {{ alert_memory_threshold }}

# Hôtes surveillés
{% for host in groups['all'] %}
- {{ hostvars[host]['ansible_host'] }}
{% endfor %}
